*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  padding: 30px 10px;
  background-color: dodgerblue;
  color: white;
}

.header ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;

}

.header ul li{
  list-style-type: none;
}

.header ul li .link {
  color: white;
  text-decoration: none;
}

.student_page{
  padding: 20px;
  text-align: center;
}
.home_page{
  padding: 20px;
  text-align: center;
}
.contact_page{
  padding: 20px;
  text-align: center;
}